In [1]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [ ]:
import gdown
file_id = '1dilkpbKOLgFHMxVZLR8CJkRNeN7bS4EB'
url = f'https://drive.google.com/uc?id={file_id}'


gdown.download(url, 'mydata.csv', quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1dilkpbKOLgFHMxVZLR8CJkRNeN7bS4EB
From (redirected): https://drive.google.com/uc?id=1dilkpbKOLgFHMxVZLR8CJkRNeN7bS4EB&confirm=t&uuid=54d9a906-7b07-4976-adf9-401ce0b37d17
To: /content/mydata.csv
100%|██████████| 794M/794M [00:09<00:00, 88.1MB/s]

'mydata.csv'

In [ ]:
import pandas as pd

df_divar = pd.read_csv('mydata.csv')
df_divar.head()

<ipython-input-45-6223453887f8>:3: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_divar = pd.read_csv('mydata.csv')

,Unnamed: 0,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
0,0,temporary-rent,villa,karaj,mehrshahr,2024-08-01 00:00:00,مشاور املاک,۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...,باغ ویلا اجاره روزانه استخر داخل لشکرآباد سهیلیه,NaN,...,NaN,4.0,6,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,500.0
1,1,residential-sell,apartment-sell,tehran,gholhak,2024-05-01 00:00:00,مشاور املاک,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,۶۰ متر قلهک فول امکانات,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
2,2,residential-rent,apartment-rent,tehran,tohid,2024-10-01 00:00:00,NaN,تخلیه پایان ماه,آپارتمان ۳ خوابه ۱۳۲ متر,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,NaN
3,3,commercial-rent,office-rent,tehran,elahiyeh,2024-06-01 00:00:00,NaN,فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...,فرشته ۹۰ متر دفتر کار مدرن موقعیت اداری,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,residential-sell,apartment-sell,mashhad,emamreza,2024-05-01 00:00:00,مشاور املاک,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,۱۱۵ متری/شمالی رو به آفتاب/اکبری,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_divar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 61 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   288882 non-null   object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   352994 non-null   object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   103961 non-null   object
 13  price_mode                  573606 non-null   object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 352994 non-null   object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           34679 non-null    object
 27  floor                       541748 non-null   object
 28  rooms_count                 845899 non-null   object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 506411 non-null   object
 32  has_elevator                541749 non-null   object
 33  has_warehouse               728155 non-null   object
 34  has_parking                 728156 non-null   object
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   33444 non-null    object
 38  has_warm_water_provider     379500 non-null   object
 39  has_electricity             33445 non-null    object
 40  has_gas                     33430 non-null    object
 41  has_heating_system          368969 non-null   object
 42  has_cooling_system          350619 non-null   object
 43  has_restroom                406913 non-null   object
 44  has_security_guard          31312 non-null    object
 45  has_barbecue                31198 non-null    object
 46  building_direction          323923 non-null   object
 47  has_pool                    29390 non-null    object
 48  has_jacuzzi                 28728 non-null    object
 49  has_sauna                   28479 non-null    object
 50  floor_material              405984 non-null   object
 51  property_type               27057 non-null    object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
dtypes: float64(17), int64(1), object(43)
memory usage: 465.4+ MB

In [ ]:
!pip install utm

Requirement already satisfied: utm in /usr/local/lib/python3.11/dist-packages (0.8.1)

In [ ]:
import pandas as pd
import utm
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [ ]:
selected_features = [
    'price_value', 'location_latitude', 'location_longitude',
    'rooms_count', 'building_size', 'construction_year',
    'has_parking'
]

df_divar_clean = df_divar[selected_features].copy()
df_divar_clean

,price_value,location_latitude,location_longitude,rooms_count,building_size,construction_year,has_parking
0,NaN,35.811684,50.936600,سه,500.0,NaN,NaN
1,8.500000e+09,NaN,NaN,یک,60.0,۱۳۸۴,True
2,NaN,35.703865,51.373459,سه,132.0,۱۴۰۱,True
3,NaN,NaN,NaN,یک,90.0,۱۴۰۰,True
4,5.750000e+09,NaN,NaN,دو,115.0,۱۴۰۳,True
...,...,...,...,...,...,...,...
999995,7.470000e+09,34.350235,47.083241,چهار,180.0,۱۴۰۳,True
999996,NaN,35.770454,51.369099,دو,110.0,۱۴۰۳,True
999997,3.200000e+09,NaN,NaN,چهار,200.0,قبل از ۱۳۷۰,True
999998,NaN,37.483501,49.438721,دو,70.0,NaN,NaN
999999,NaN,35.680767,51.365299,یک,40.0,۱۳۸۲,False

In [ ]:
def convert_rooms_count(value):
    mapping = {
        'بدون اتاق': 0,
        'یک': 1,
        'دو': 2,
        'سه': 3,
        'چهار': 4,
        'پنج': 5,
        'پنج یا بیشتر': 5
    }
    if pd.isna(value):
        return None
    value = str(value).strip().replace('\u200c', '')
    return mapping.get(value, None)


def convert_persian_digits(text):
    persian_to_english = str.maketrans('۰۱۲۳۴۵۶۷۸۹', '0123456789')
    return str(text).translate(persian_to_english)

In [ ]:
df_divar_clean['construction_year'] = df_divar_clean['construction_year'].replace('قبل از ۱۳۷۰', '۱۳۶۵')

In [ ]:
df_divar_clean['construction_year'] = df_divar_clean['construction_year'].apply(convert_persian_digits).astype(float)

df_divar_clean['rooms_count'] = df_divar_clean['rooms_count'].apply(convert_rooms_count)

df_divar_clean

,price_value,location_latitude,location_longitude,rooms_count,building_size,construction_year,has_parking
0,NaN,35.811684,50.936600,3.0,500.0,NaN,NaN
1,8.500000e+09,NaN,NaN,1.0,60.0,1384.0,True
2,NaN,35.703865,51.373459,3.0,132.0,1401.0,True
3,NaN,NaN,NaN,1.0,90.0,1400.0,True
4,5.750000e+09,NaN,NaN,2.0,115.0,1403.0,True
...,...,...,...,...,...,...,...
999995,7.470000e+09,34.350235,47.083241,4.0,180.0,1403.0,True
999996,NaN,35.770454,51.369099,2.0,110.0,1403.0,True
999997,3.200000e+09,NaN,NaN,4.0,200.0,1365.0,True
999998,NaN,37.483501,49.438721,2.0,70.0,NaN,NaN
999999,NaN,35.680767,51.365299,1.0,40.0,1382.0,False

In [ ]:
df_divar_clean.describe()
df_divar_clean.info()
df_divar_clean.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   price_value         568346 non-null  float64
 1   location_latitude   655608 non-null  float64
 2   location_longitude  655608 non-null  float64
 3   rooms_count         845899 non-null  float64
 4   building_size       980394 non-null  float64
 5   construction_year   815828 non-null  float64
 6   has_parking         728156 non-null  object
dtypes: float64(6), object(1)
memory usage: 53.4+ MB

,price_value,location_latitude,location_longitude,rooms_count,building_size,construction_year,has_parking
999995,7.470000e+09,34.350235,47.083241,4.0,180.0,1403.0,True
999996,NaN,35.770454,51.369099,2.0,110.0,1403.0,True
999997,3.200000e+09,NaN,NaN,4.0,200.0,1365.0,True
999998,NaN,37.483501,49.438721,2.0,70.0,NaN,NaN
999999,NaN,35.680767,51.365299,1.0,40.0,1382.0,False

In [ ]:
df_divar_clean.isnull().mean() * 100

price_value           43.1654
location_latitude     34.4392
location_longitude    34.4392
rooms_count           15.4101
building_size          1.9606
construction_year     18.4172
has_parking           27.1844
dtype: float64

In [ ]:
###data preprocessing

In [ ]:
df_divar_clean['has_parking'].fillna(False, inplace=True)

<ipython-input-56-45de92b04e7c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_clean['has_parking'].fillna(False, inplace=True)
<ipython-input-56-45de92b04e7c>:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_divar_clean['has_parking'].fillna(False, inplace=True)

In [ ]:
df_divar_clean['price_value'].fillna(df_divar_clean['price_value'].median(), inplace=True)

<ipython-input-57-548fdde5e8c5>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_clean['price_value'].fillna(df_divar_clean['price_value'].median(), inplace=True)

In [ ]:
df_divar_clean['rooms_count'].fillna(df_divar_clean['rooms_count'].median(), inplace=True)

<ipython-input-58-364712ad2ff2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_clean['rooms_count'].fillna(df_divar_clean['rooms_count'].median(), inplace=True)

In [ ]:
df_divar_clean['building_size'].fillna(df_divar_clean['building_size'].median(), inplace=True)

<ipython-input-59-706c8edff3c6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_clean['building_size'].fillna(df_divar_clean['building_size'].median(), inplace=True)

In [ ]:
df_divar_clean['construction_year'].fillna(df_divar_clean['construction_year'].median(), inplace=True)

<ipython-input-60-02eed90dfa76>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_clean['construction_year'].fillna(df_divar_clean['construction_year'].median(), inplace=True)

In [ ]:
df_divar_clean['location_longitude'].value_counts()

location_longitude
46.294880    527
51.021194    355
51.016659    291
47.092232    273
52.013897    203
            ...
46.433464      1
57.361881      1
52.256203      1
59.539257      1
49.440193      1
Name: count, Length: 429431, dtype: int64

In [ ]:
df_divar_clean.isnull().sum()

price_value                0
location_latitude     344392
location_longitude    344392
rooms_count                0
building_size              0
construction_year          0
has_parking                0
dtype: int64

In [ ]:
df_divar_clean.dropna(subset=['location_latitude', 'location_longitude'], inplace=True)

In [ ]:
df_divar_clean['has_parking'] = df_divar_clean['has_parking'].astype(int)

In [ ]:
df_divar_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 655608 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   price_value         655608 non-null  float64
 1   location_latitude   655608 non-null  float64
 2   location_longitude  655608 non-null  float64
 3   rooms_count         655608 non-null  float64
 4   building_size       655608 non-null  float64
 5   construction_year   655608 non-null  float64
 6   has_parking         655608 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 40.0 MB