In [1]:
import pandas as pd
import numpy as np

In [2]:
divar_df = pd.read_csv('Divar.csv')
df = pd.read_csv('Divar.csv')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_556\3235132892.py:1: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  divar_df = pd.read_csv('Divar.csv')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_556\3235132892.py:2: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Divar.csv')

In [4]:
divar_df = divar_df.drop(['description', 'title', 'rent_to_single', 'rooms_count', 'has_balcony',], axis=1)

In [12]:

divar_df = divar_df.drop(['has_barbecue'], axis=1)

In [52]:
divar_df = divar_df.drop(['has_restroom'], axis=1)

In [11]:
print(divar_df['has_heating_system'].value_counts())

has_heating_system
shoofaj          201356
heater           119771
duct_split        22047
floor_heating      7717
split              5845
fan_coil           5065
fireplace          4050
unselect           3118
Name: count, dtype: int64

In [5]:
target_heating_syste = ['shoofaj', 'heater', 'duct_split', 'floor_heating', 'split', 'fan_coil' , 'fireplace','unselect' ]

divar_df['has_heating_system'] = divar_df['has_heating_system'].isin(target_heating_syste).astype(int)

In [14]:
print(divar_df['has_heating_system'].value_counts())

has_heating_system
0    631031
1    368969
Name: count, dtype: int64

In [15]:
print(divar_df['has_cooling_system'].value_counts())

has_cooling_system
water_cooler       219266
air_conditioner     52341
split               38708
duct_split          29373
unselect             5917
fan_coil             5014
Name: count, dtype: int64

In [6]:
target_cooling_system = ['water_cooler', 'air_conditioner', 'split', 'duct_split', 'unselect']

divar_df['has_cooling_system'] = divar_df['has_cooling_system'].isin(target_cooling_system).astype(int)

In [17]:
print(divar_df['has_cooling_system'].value_counts())

has_cooling_system
0    654395
1    345605
Name: count, dtype: int64

In [7]:
print(divar_df['has_warm_water_provider'].value_counts())

has_warm_water_provider
package         205641
water_heater    141082
powerhouse       31395
unselect          1382
Name: count, dtype: int64

In [8]:
target_warm_water_provider = ['package', 'water_heater', 'powerhouse', 'unselect']

divar_df['has_warm_water_provider'] = divar_df['has_warm_water_provider'].isin(target_warm_water_provider).astype(int)

In [9]:
print(divar_df['has_warm_water_provider'].value_counts())

has_warm_water_provider
0    620500
1    379500
Name: count, dtype: int64

In [10]:
divar_df['has_system_columns'] = divar_df['has_cooling_system'] + divar_df['has_heating_system'] + divar_df['has_warm_water_provider']

In [11]:
print(divar_df['has_system_columns'].value_counts())

has_system_columns
0    600696
3    318702
2     57366
1     23236
Name: count, dtype: int64

In [13]:
print(divar_df['has_security_guard'].value_counts())

has_security_guard
False    24631
True      6681
Name: count, dtype: int64

In [15]:
luxury_columns = ['has_pool', 'has_sauna', 'has_jacuzzi', 'has_security_guard']

divar_df['has_luxury_features'] = divar_df[luxury_columns].any(axis=1)

divar_df = divar_df.drop(columns=luxury_columns)

In [16]:
print(divar_df['has_luxury_features'].value_counts())

has_luxury_features
False    991767
True       8233
Name: count, dtype: int64

In [17]:
infra_cols = ['has_water', 'has_electricity', 'has_gas']
divar_df['infrastructure_score'] = divar_df[infra_cols].sum(axis=1)
divar_df = divar_df.drop(columns=infra_cols)

In [18]:
divar_df.shape
divar_df.info

<bound method DataFrame.info of         Unnamed: 0         cat2_slug         cat3_slug      city_slug  \
0                0    temporary-rent             villa          karaj
1                1  residential-sell    apartment-sell         tehran
2                2  residential-rent    apartment-rent         tehran
3                3   commercial-rent       office-rent         tehran
4                4  residential-sell    apartment-sell        mashhad
...            ...               ...               ...            ...
999995      999995  residential-sell    apartment-sell     kermanshah
999996      999996  residential-rent    apartment-rent         tehran
999997      999997  residential-sell  house-villa-sell           yazd
999998      999998    temporary-rent   suite-apartment  bandar-anzali
999999      999999  residential-rent    apartment-rent         tehran

       neighborhood_slug     created_at_month    user_type rent_mode  \
0              mehrshahr  2024-08-01 00:00:00  مشاور املاک       NaN
1                gholhak  2024-05-01 00:00:00  مشاور املاک       NaN
2                  tohid  2024-10-01 00:00:00          NaN     مقطوع
3               elahiyeh  2024-06-01 00:00:00          NaN     مقطوع
4               emamreza  2024-05-01 00:00:00  مشاور املاک       NaN
...                  ...                  ...          ...       ...
999995               NaN  2024-07-01 00:00:00  مشاور املاک       NaN
999996             darya  2024-07-01 00:00:00  مشاور املاک     مقطوع
999997               NaN  2024-11-01 00:00:00          NaN       NaN
999998               NaN  2024-09-01 00:00:00          NaN       NaN
999999           jeyhoun  2024-08-01 00:00:00  مشاور املاک     مجانی

        rent_value    rent_type  ... cost_per_extra_person  \
0              NaN          NaN  ...              350000.0
1              NaN          NaN  ...                   NaN
2       26000000.0          NaN  ...                   NaN
3       95000000.0          NaN  ...                   NaN
4              NaN          NaN  ...                   NaN
...            ...          ...  ...                   ...
999995         NaN          NaN  ...                   NaN
999996  45000000.0  rent_credit  ...                   NaN
999997         NaN          NaN  ...                   NaN
999998         NaN          NaN  ...                   NaN
999999         0.0  rent_credit  ...                   NaN

        rent_price_on_regular_days rent_price_on_special_days  \
0                        1500000.0               3.500000e+09
1                              NaN                        NaN
2                              NaN                        NaN
3                              NaN                        NaN
4                              NaN                        NaN
...                            ...                        ...
999995                         NaN                        NaN
999996                         NaN                        NaN
999997                         NaN                        NaN
999998                   3000000.0                        NaN
999999                         NaN                        NaN

        rent_price_at_weekends location_latitude location_longitude  \
0                    3500000.0         35.811684          50.936600
1                          NaN               NaN                NaN
2                          NaN         35.703865          51.373459
3                          NaN               NaN                NaN
4                          NaN               NaN                NaN
...                        ...               ...                ...
999995                     NaN         34.350235          47.083241
999996                     NaN         35.770454          51.369099
999997                     NaN               NaN                NaN
999998                     NaN         37.483501          49.438721
999999                     NaN         35.680767          51.365299

        location_radius  has_system_columns  has_luxury_features  \
0                 500.0                   0                False
1                 500.0                   0                False
2                   NaN                   0                False
3                   NaN                   0                False
4                   NaN                   3                False
...                 ...                 ...                  ...
999995            500.0                   0                False
999996            500.0                   0                False
999997              NaN                   0                False
999998              NaN                   0                False
999999            500.0                   3                False

        infrastructure_score
0                          0
1                          0
2                          0
3                          0
4                          0
...                      ...
999995                     0
999996                     0
999997                     0
999998                     0
999999                     0

[1000000 rows x 51 columns]>

In [19]:
facility_score = ['has_parking', 'has_elevator', 'has_warehouse']
divar_df['facility_score'] = divar_df[facility_score].sum(axis=1)
divar_df = divar_df.drop(columns=facility_score)

In [20]:
divar_df['total_floors_count'] = pd.to_numeric(divar_df['total_floors_count'], errors='coerce')

In [21]:
nan_counts = divar_df['total_floors_count'].isna().sum()

# نمایش نتایج
print(nan_counts)

696006

In [23]:
divar_df['total_floors_count'] = divar_df.groupby(['city_slug', 'neighborhood_slug'])['total_floors_count'].transform(
    lambda x: x.fillna(x.mean())
)

In [24]:
mask = divar_df['total_floors_count'].isna()

divar_df.loc[mask, 'total_floors_count'] = divar_df.groupby('city_slug')['total_floors_count'].transform(
    lambda x: x.fillna(x.mean())
)[mask]

In [25]:
divar_df['total_floors_count'].fillna(divar_df['total_floors_count'].mean(), inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_556\3948902769.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  divar_df['total_floors_count'].fillna(divar_df['total_floors_count'].mean(), inplace=True)

In [26]:
divar_df['total_floors_count'] = divar_df['total_floors_count'].round().astype('Int64')

In [27]:
divar_df['unit_per_floor'] = pd.to_numeric(divar_df['unit_per_floor'], errors='coerce')

In [28]:
divar_df['unit_per_floor'] = divar_df.groupby(['city_slug', 'neighborhood_slug'])['unit_per_floor'].transform(
    lambda x: x.fillna(x.mean())
)

In [29]:
mask = divar_df['unit_per_floor'].isna()

divar_df.loc[mask, 'unit_per_floor'] = divar_df.groupby('city_slug')['unit_per_floor'].transform(
    lambda x: x.fillna(x.mean())
)[mask]

In [30]:
divar_df['unit_per_floor'].fillna(divar_df['unit_per_floor'].mean(), inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_556\1761935966.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  divar_df['unit_per_floor'].fillna(divar_df['unit_per_floor'].mean(), inplace=True)

In [31]:
divar_df['unit_per_floor'] = divar_df['unit_per_floor'].round().astype('Int64')

In [32]:
divar_df['total_units'] = divar_df['total_floors_count'] * divar_df['unit_per_floor']
divar_df['density_per_floor'] = divar_df['unit_per_floor'] / divar_df['total_units']

In [33]:
divar_df = divar_df.drop(columns=['total_units', 'unit_per_floor'])

In [34]:
print(divar_df['building_direction'].value_counts())

building_direction
south       159453
north       142009
east         12111
west          7143
unselect      3207
Name: count, dtype: int64

In [35]:
divar_df['building_direction'] = divar_df['building_direction'].fillna('نامشخص')
divar_df.loc[divar_df['building_direction'] == 'unselect', 'building_direction'] = 'نامشخص'

In [36]:

divar_df = pd.get_dummies(divar_df, columns=['building_direction'], prefix='dir')

In [37]:
divar_df.shape
divar_df.info

<bound method DataFrame.info of         Unnamed: 0         cat2_slug         cat3_slug      city_slug  \
0                0    temporary-rent             villa          karaj
1                1  residential-sell    apartment-sell         tehran
2                2  residential-rent    apartment-rent         tehran
3                3   commercial-rent       office-rent         tehran
4                4  residential-sell    apartment-sell        mashhad
...            ...               ...               ...            ...
999995      999995  residential-sell    apartment-sell     kermanshah
999996      999996  residential-rent    apartment-rent         tehran
999997      999997  residential-sell  house-villa-sell           yazd
999998      999998    temporary-rent   suite-apartment  bandar-anzali
999999      999999  residential-rent    apartment-rent         tehran

       neighborhood_slug     created_at_month    user_type rent_mode  \
0              mehrshahr  2024-08-01 00:00:00  مشاور املاک       NaN
1                gholhak  2024-05-01 00:00:00  مشاور املاک       NaN
2                  tohid  2024-10-01 00:00:00          NaN     مقطوع
3               elahiyeh  2024-06-01 00:00:00          NaN     مقطوع
4               emamreza  2024-05-01 00:00:00  مشاور املاک       NaN
...                  ...                  ...          ...       ...
999995               NaN  2024-07-01 00:00:00  مشاور املاک       NaN
999996             darya  2024-07-01 00:00:00  مشاور املاک     مقطوع
999997               NaN  2024-11-01 00:00:00          NaN       NaN
999998               NaN  2024-09-01 00:00:00          NaN       NaN
999999           jeyhoun  2024-08-01 00:00:00  مشاور املاک     مجانی

        rent_value    rent_type  ... has_system_columns  has_luxury_features  \
0              NaN          NaN  ...                  0                False
1              NaN          NaN  ...                  0                False
2       26000000.0          NaN  ...                  0                False
3       95000000.0          NaN  ...                  0                False
4              NaN          NaN  ...                  3                False
...            ...          ...  ...                ...                  ...
999995         NaN          NaN  ...                  0                False
999996  45000000.0  rent_credit  ...                  0                False
999997         NaN          NaN  ...                  0                False
999998         NaN          NaN  ...                  0                False
999999         0.0  rent_credit  ...                  3                False

       infrastructure_score  facility_score density_per_floor dir_east  \
0                         0               0              0.25    False
1                         0               3               0.2    False
2                         0               3              0.25    False
3                         0               2             0.125    False
4                         0               3          0.166667    False
...                     ...             ...               ...      ...
999995                    0               3               0.2    False
999996                    0               3               0.2    False
999997                    0               2               0.2    False
999998                    0               0               0.2    False
999999                    0               0             0.125    False

        dir_north  dir_south  dir_west  dir_نامشخص
0           False      False     False        True
1           False      False     False        True
2           False      False     False        True
3           False      False     False        True
4            True      False     False       False
...           ...        ...       ...         ...
999995      False      False     False        True
999996      False      False     False        True
999997      False      False     False        True
999998      False      False     False        True
999999      False      False     False        True

[1000000 rows x 53 columns]>

In [38]:
divar_df['ad_year'] = pd.to_datetime(divar_df['created_at_month']).dt.year

In [39]:
print(divar_df['ad_year'].value_counts())

ad_year
2024    996946
2023      1689
2025      1292
2022        65
2021         6
2020         2
Name: count, dtype: int64

In [40]:
def convert_persian_digits(text):
    persian_digits = '۰۱۲۳۴۵۶۷۸۹'
    english_digits = '0123456789'
    translation_table = str.maketrans(persian_digits, english_digits)
    return str(text).translate(translation_table)

In [41]:
divar_df['construction_year'] = divar_df['construction_year'].apply(convert_persian_digits)


divar_df['construction_year'] = pd.to_numeric(divar_df['construction_year'], errors='coerce')

In [42]:
print(divar_df['construction_year'].value_counts())

construction_year
1403.0    116260
1390.0     59139
1402.0     58424
1400.0     53674
1395.0     53029
1398.0     38207
1397.0     36326
1396.0     35487
1401.0     35328
1385.0     34065
1399.0     29594
1393.0     29094
1392.0     26130
1394.0     26110
1388.0     24268
1380.0     23480
1389.0     16755
1391.0     16316
1387.0     14136
1386.0     13468
1383.0      9894
1384.0      8494
1375.0      7247
1382.0      6965
1371.0      5531
1381.0      3590
1378.0      3025
1379.0      2415
1377.0      2117
1372.0      1914
1373.0      1827
1376.0      1593
1374.0      1289
Name: count, dtype: int64

In [43]:
divar_df['ad_year'] = divar_df['ad_year'].round().astype('Int32')

In [44]:
divar_df['building_age'] = divar_df['ad_year'] - divar_df['construction_year'] - 621
divar_df['building_age'] = divar_df['building_age'].clip(lower=0)

In [45]:
divar_df = divar_df.drop('construction_year', axis=1)

In [46]:
print(divar_df['building_age'].value_counts())

building_age
0.0     116310
13.0     59091
1.0      58447
3.0      53558
8.0      52991
5.0      38204
6.0      36311
7.0      35510
2.0      35309
18.0     34039
4.0      29629
10.0     29074
11.0     26152
9.0      26150
15.0     24255
23.0     23449
14.0     16787
12.0     16342
16.0     14147
17.0     13479
20.0      9887
19.0      8516
28.0      7239
21.0      6969
32.0      5523
22.0      3615
25.0      3025
24.0      2427
26.0      2116
31.0      1918
30.0      1825
27.0      1599
29.0      1295
33.0         3
Name: count, dtype: Int64

In [47]:
divar_df['effective_age'] = divar_df['building_age'] - (divar_df['is_rebuilt'] * 10)
divar_df['effective_age'] = divar_df['effective_age'].clip(lower=0)

In [48]:
print(divar_df['effective_age'].value_counts())

effective_age
0       142685
3.0      40755
8.0      34587
1.0      34065
13.0     30345
5.0      25381
2.0      21677
6.0      21170
7.0      20492
4.0      19270
10.0     16452
9.0      14635
18.0     14101
11.0     13947
15.0      9921
23.0      8370
12.0      8269
14.0      7421
16.0      5743
17.0      5287
20.0      3715
19.0      3263
21.0      2924
28.0      2794
22.0      2623
32.0      2220
25.0      1089
24.0       933
26.0       817
31.0       770
30.0       719
27.0       614
29.0       498
33.0         2
Name: count, dtype: int64

In [49]:
divar_df['is_rebuilt'] = divar_df['is_rebuilt'].fillna(False).astype(int)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_556\476863760.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  divar_df['is_rebuilt'] = divar_df['is_rebuilt'].fillna(False).astype(int)

In [50]:
divar_df = divar_df.drop('is_rebuilt', axis=1)

In [53]:
print(divar_df['floor_material'].value_counts())

floor_material
ceramic             307821
stone                38395
carpet               17696
mosaic               14611
wood_parquet         14419
laminate_parquet      9582
floor_covering        1793
unselect              1667
Name: count, dtype: int64

In [54]:
material_rank = {
    'carpet': 0,
    'mosaic': 1,
    'ceramic': 2,
    'stone': 3,
    'laminate_parquet': 4,
    'wood_parquet': 5
}

In [56]:
divar_df['floor_material'] = divar_df['floor_material'].replace('floor_covering', np.nan)
divar_df['floor_material'] = divar_df['floor_material'].replace('unselect', np.nan)

In [57]:
divar_df['floor_material_rank'] = divar_df['floor_material'].map(material_rank)

In [58]:
divar_df['floor_material_rank'] = divar_df['floor_material_rank'].fillna(0).astype(int)

In [59]:
print(divar_df['floor_material_rank'].value_counts())

floor_material_rank
0    615172
2    307821
3     38395
1     14611
5     14419
4      9582
Name: count, dtype: int64

In [61]:
divar_df = divar_df.drop(['location_latitude', 'location_longitude', 'location_radius'], axis=1)

In [63]:
divar_df = divar_df[~divar_df['cat3_slug'].isin(['other', 'partnership'])]

In [64]:
divar_df = divar_df[~divar_df['cat2_slug'].isin(['real-estate-services'])]

In [65]:
divar_df.shape
divar_df.info

<bound method DataFrame.info of         Unnamed: 0         cat2_slug         cat3_slug      city_slug  \
0                0    temporary-rent             villa          karaj
1                1  residential-sell    apartment-sell         tehran
2                2  residential-rent    apartment-rent         tehran
3                3   commercial-rent       office-rent         tehran
4                4  residential-sell    apartment-sell        mashhad
...            ...               ...               ...            ...
999995      999995  residential-sell    apartment-sell     kermanshah
999996      999996  residential-rent    apartment-rent         tehran
999997      999997  residential-sell  house-villa-sell           yazd
999998      999998    temporary-rent   suite-apartment  bandar-anzali
999999      999999  residential-rent    apartment-rent         tehran

       neighborhood_slug     created_at_month    user_type rent_mode  \
0              mehrshahr  2024-08-01 00:00:00  مشاور املاک       NaN
1                gholhak  2024-05-01 00:00:00  مشاور املاک       NaN
2                  tohid  2024-10-01 00:00:00          NaN     مقطوع
3               elahiyeh  2024-06-01 00:00:00          NaN     مقطوع
4               emamreza  2024-05-01 00:00:00  مشاور املاک       NaN
...                  ...                  ...          ...       ...
999995               NaN  2024-07-01 00:00:00  مشاور املاک       NaN
999996             darya  2024-07-01 00:00:00  مشاور املاک     مقطوع
999997               NaN  2024-11-01 00:00:00          NaN       NaN
999998               NaN  2024-09-01 00:00:00          NaN       NaN
999999           jeyhoun  2024-08-01 00:00:00  مشاور املاک     مجانی

        rent_value    rent_type  ... density_per_floor  dir_east dir_north  \
0              NaN          NaN  ...              0.25     False     False
1              NaN          NaN  ...               0.2     False     False
2       26000000.0          NaN  ...              0.25     False     False
3       95000000.0          NaN  ...             0.125     False     False
4              NaN          NaN  ...          0.166667     False      True
...            ...          ...  ...               ...       ...       ...
999995         NaN          NaN  ...               0.2     False     False
999996  45000000.0  rent_credit  ...               0.2     False     False
999997         NaN          NaN  ...               0.2     False     False
999998         NaN          NaN  ...               0.2     False     False
999999         0.0  rent_credit  ...             0.125     False     False

        dir_south dir_west dir_نامشخص  ad_year  building_age  effective_age  \
0           False    False       True     2024          <NA>            NaN
1           False    False       True     2024          19.0            NaN
2           False    False       True     2024           2.0            2.0
3           False    False       True     2024           3.0            NaN
4           False    False      False     2024           0.0            NaN
...           ...      ...        ...      ...           ...            ...
999995      False    False       True     2024           0.0            NaN
999996      False    False       True     2024           0.0            NaN
999997      False    False       True     2024          <NA>            NaN
999998      False    False       True     2024          <NA>            NaN
999999      False    False       True     2024          21.0           11.0

        floor_material_rank
0                         0
1                         0
2                         0
3                         0
4                         2
...                     ...
999995                    0
999996                    0
999997                    0
999998                    0
999999                    2

[980597 rows x 51 columns]>